.form-display{
    background: #e8eff5;
    min-height: 500px;
    padding: 20px 0;
}
table{
    background: rgb(237, 241, 247);
}
.form-display form{
    width: 70%;
    background: #0ab3bb;
    padding: 35px 20px;
}
label {
    font-size: 18px;
    font-weight: 700;
}
.form-display h2{
    font-size: 36px;
    font-weight: 700 !important;
    text-align: center;
    background: #4d5a5f;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    margin: 25px 20px !important;
}
.text-blue{
    color: rgb(15, 90, 187);
}
.text-red{
    color: rgb(224, 57, 57);
}