.navbar {
  background: rgba(0, 204, 214);
  align-items: center;
  display: flex;
}
.navbar .logo img {
  width: 180px;
  padding: 5px 0;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  padding: 5px 10px;
  font-size: 18px;
  background: rgba(0, 204, 214);
  font-weight: 600;
  color: #333 !important;
}
.navbar ul li:hover {
  color: #0a4a8d;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}
a {
  color: #ffffff !important;
}
a:hover {
  color: #00ccd6 !important;
  text-decoration: none !important;
}
